<style>
    #controller {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        padding: 12px 20px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        gap: 10px;
        z-index: 9999;
    }
    #scenario-name {
        padding: 6px 10px;
        border-radius: 6px;
        border: none;
        width: 200px;
    }
    #play-btn {
        padding: 6px 10px;
        border: none;
        border-radius: 6px;
        background-color: white;
        cursor: pointer;
    }
    #pause-btn {
        padding: 6px 10px;
        border: none;
        border-radius: 6px;
        background-color: white;
        cursor: pointer;
    }
    #record-btn {
        padding: 6px 10px;
        border: none;
        border-radius: 6px;
        background-color: red;
        color: white;
        cursor: pointer;
    }
</style>

<div id="controller">
    <input type="text" id="scenario-name" name="scenario-name" placeholder="시나리오명 입력">
    <button id="play-btn">▶️</button>
    <button id="record-btn">●</button>
    <button id="pause-btn">⏸️</button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function() {
        // 이벤트 바인딩
        $('#play-btn').on('click', () => {
            const scenarioName = $('#scenario-name').val();
            fetch(`/api/v1/player/${scenarioName}/start`);
        });
        $('#record-btn').on('click', () => {
            const scenarioName = $('#scenario-name').val();
            fetch(`/api/v1/recorder/${scenarioName}/start`);
        });
        $('#pause-btn').on('click', () => {
            const scenarioName = $('#scenario-name').val();
            fetch(`/api/v1/recorder/${scenarioName}/stop`);
        });
    });
</script>